Django>=4.2,<6
djangorestframework
django-cors-headers
python-dotenv
markdown2
pdfkit
reportlab
requests
chardet<6
jinja2
PyMuPDF
numpy<2
opencv-python
pypdf
fastapi
uvicorn[standard]
pydantic
openai
accelerate
celery
redis
paddleocr==2.7.3
paddlepaddle==2.6.2
